# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data and Weights
data/raw/
weights/*.h5
results/*.png
.keras/
facenet_keras_weights.h5

# Runtime uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
